{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    // styled-components 避免 ssr 會解析錯誤
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    // material 打包優化
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        // Use ""libraryDirectory": "," if your bundler does not support ES modules
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        // Use ""libraryDirectory": "," if your bundler does not support ES modules
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "icons"
    ]
  ]
}